* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header .container {
  width: 95%;
}
header .container .collapseDiv {
  padding-left: 30px;
}
header .container .collapseDiv li {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: #141517;
  font-weight: 600;
  padding-right: 20px;
}
header .container .iconDiv i {
  padding: 10px;
  gap: 15px;
}
header .headDiv {
  background: #16161a;
  padding-top: 10px;
  padding-bottom: 1px;
  align-items: center;
  justify-content: center;
}
header .headDiv p {
  color: white;
  text-align: center;
}
header .headDiv button {
  color: #CEBD9C;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  border: none;
  padding-left: 20px;
}

#fashion {
  width: 100%;
  background-image: url(/img/h1_hero1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
#fashion .container {
  width: 95%;
}
#fashion .container .row {
  padding: 30px;
}
#fashion .container .row .fashiontxt span {
  color: #FF2020;
  font-family: "Clicker Script";
  font-size: 40px;
  font-weight: 400;
}
#fashion .container .row .fashiontxt h1 {
  font-size: 55px;
  font-weight: 500;
  color: #292621;
}
#fashion .container .row .fashiontxt p {
  padding: 15px;
  color: grey;
}
#fashion .container .row .fashiontxt .fashionbtn {
  padding: 30px;
}
#fashion .container .row .fashiontxt .fashionbtn button {
  background-color: #292621;
  font-weight: 500;
  border: 1px solid #292621;
  color: #fff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

#mensfashion {
  width: 100%;
}
#mensfashion .container {
  width: 95%;
}
#mensfashion .container .row .menstext img {
  max-width: 100%;
  padding-top: 30px;
  padding: 20px;
}
#mensfashion .container .row .menstext p {
  font-size: 25px;
  font-weight: 600;
  color: rgb(206, 206, 206);
  text-align: center;
  margin-top: -65px;
}

#week {
  width: 100%;
}
#week .container {
  width: 95%;
}
#week .container .row {
  padding: 30px;
}
#week .container .row .weektext h3 {
  font-size: 35px;
  padding-top: 20px;
}
#week .container .row .weektext .ulli {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-top: -35px;
}
#week .container .row .weektext .ulli li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
#week li:hover {
  color: red;
  transition: 0.2s;
}

#apisection .divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
#apisection .divbtn #btn {
  font-size: 15px;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
#apisection .container {
  width: 95%;
}
#apisection .container .row {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
#apisection .container .row .apitext {
  text-align: center;
  padding: 30px;
}
#apisection .container .row .apitext h3 {
  font-size: 40px;
  padding-bottom: 15px;
}
#apisection .container .row .apitext p {
  color: grey;
}
#apisection .container .row .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#apisection .container .row .buttons input {
  width: 90px;
  height: 32.1px;
  padding-left: 20px;
  border: 2px solid red;
}
#apisection .container .row .buttons input #inpp {
  padding: 10px;
}
#apisection .container .row .buttons button {
  font-size: 15px;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border: none;
  margin-left: -10px;
}
#apisection .container .row .buttons button a i {
  color: white;
}
#apisection .container .row .buttons button a i:hover {
  color: red;
}
#apisection .container .row .buttons button:hover {
  background-color: white;
  color: red;
  transition: 0.5s;
}
#apisection .container .row #apidiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
  border-radius: 10px;
}
#apisection .container .row #apidiv .boxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
#apisection .container .row #apidiv .boxDiv .addtobasketbtn {
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
#apisection .container .row #apidiv .boxDiv .addtobasketbtn:hover {
  background-color: white;
  color: red;
  transition: 0.5s;
}

#customer {
  width: 100%;
  background-color: #F3EAD8;
}
#customer .container {
  width: 95%;
}
#customer .container .row {
  padding: 30px;
}
#customer .container .row .customertext {
  text-align: center;
  padding: 20px;
}
#customer .container .row .customertext h2 {
  font-size: 34px;
  font-weight: 500;
  color: #292621;
  margin-bottom: 40px;
}
#customer .container .row .customertext p {
  font-size: 22px;
  color: #292621;
  font-weight: 400;
}
#customer .container .row .imgDiv {
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#customer .container .row .imgDiv span {
  font-size: 13px;
  color: rgb(102, 102, 102);
  margin-left: 10px;
}
#customer .container .row .imgDiv .peter {
  font-size: 15px;
}

#formimp .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#formimp .container .formsec {
  padding: 20px;
}
#formimp .container .formsec h4 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
#formimp .container .formsec p {
  color: grey;
  text-align: center;
}
#formimp .container #myFORM {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
#formimp .container #myFORM #myFORM input {
  font-size: 20px;
  background-color: white;
  border-radius: 25px;
}
#formimp .container #myFORM #submit {
  background-color: red;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
#formimp .container #submit:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
footer p {
  color: black;
  margin-top: 10px;
}